html {
  background-color: #000000;
}

body {
  font-family: "Courier Prime", Courier, monospace;
  font-weight: normal;
  font-size: 20px;
  word-wrap: break-word;
}

h2 {
  margin-bottom: 5px;
  font-size: 40px;
  font-weight: bold;
  color: #18b700;
}

.blog__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 20px;
}

.col__wrapper {
  display: flex;
  width: 900px;
  height: 150px;
  align-items: center;
  justify-content: space-around;
  border: 1px solid #49fc03;
  border-radius: 10px;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.posts {
  color: #05cb02;
}

.post-title-input {
  display: flex;
  width: 600px;
  color: #18b700;
  border: 1px solid #49fc03;
}

.post-text-input {
  display: flex;
  width: 600px;
  height: 50px;
  color: #18b700;
  border: 1px solid #49fc03;
}

.new-post-btn {
  display: flex;
  align-items: center;
  width: 54px;
  height: 54px;

  background-image: url(./resources/new-post-btn.png);
  background-size: contain;
}

.posts__wrapper {
  margin-bottom: 40px;
  padding: 40px;
  width: 900px;
  border: 1px solid #49fc03;
  border-radius: 10px;
}

.post {
  margin-bottom: 20px;
  display: block;
  position: relative;
  padding: 15px;
}

.post__date {
  margin-bottom: 15px;
  padding-left: 5px;
  color: #149400d0;
}

.post__title {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
}

.post__text {
  
}

.post__delete-btn {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-image: url(./resources/post__delete-btn-icon.png);
  background-size: contain;
  }
.validationMessage {
  margin-bottom: 10px;
  color: #b70000;
}

.validationMessage_hidden {
  display: none;
}
